.header {
  box-shadow: var(--shadow);
  background-color: #0eaa95;
  padding: 20px 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
  transition: all 0.2s ease-in-out;
}

.linkActive {
  color: var(--accent);
}
